@import "../../styles/variables";

.container {
    display: grid;
    justify-items: center;
}

.form {
    width: 100%;
    max-width: 450px;
}

.input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid $second-color;
    outline: none;
    margin-bottom: 2rem;
    font-family: $body-font;

    &:focus {
        border-color: $first-color;
    }
}

.button {
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
}