@import "../../styles/variables";

.footer {
    background-color: $second-color;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;

    &Title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &Social {
        margin-bottom: 2rem;
    }

    &Icon {
        font-size: 1.5rem;
        color: #fff;
        margin: 0 1rem;
        transition: .3s;

        &:hover {
            color: $first-color;
        }
    }

    &Copy {
        font-size: 0.75rem;
    }
}